@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
    --color-primary: #dc8e46;
    --color-primary-light: #F1CA89;

    --color-dark: #363949;
    --dark-variant: #677483;

    --color-light:#ccc;
    --color-sucess:#F2DAC3;
    --color-background: #f6f6f9;
    --color-white:#fff;
    --fixed-white:#fff;

    --color-info-gray:#7d8da1;

    --caard-radius: 2rem;
    --radius-1: 0.4rem;
    --radius-2: 0.8rem;
    --radius-3: 1.2rem;

    --card-padding:1.8rem;
    --padding-1:1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);

    --input-background:#eeeeee75;
}
/*PURO TESTE E ENTRETENIMENTO DO RENAN*/
.dark-theme-var{
    --color-background:#181a1e;
    --color-white:#202528;
    --color-dark:#edeffd;
    --dark-variant:#a3bdcc;
    --color-light:rgba(0,0,0,0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
    --fixed-white:#fff;
    --color-info-gray:#7d8da1;
    --input-background:#eeeeee12;


}
/*PURO TESTE E ENTRETENIMENTO DO RENAN*/

*{
    margin: 0 ;
    padding: 0 ;
    outline: 0 ;
    appearance: none ;
    /*    border: 0  ;*/
    text-decoration: none ;
    list-style: none  ;
    box-sizing: border-box ;
}

html{
    font-size: 14px ;
}

main{
    padding: 8rem 20rem 50rem;
}

.title #voltar{
    font-size: 2rem;
    position: absolute;
    margin-bottom: 10px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'Roboto', sans-serif ;
    font-size: 0.88rem;
    background:var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark) ;
}





h1{
    font-weight: 800 ;
    font-size: 1.8rem ;
    margin-left: 40px;
}

h2{
    font-size: 1.4rem ;

}

h3{
    font-size: 0.87rem ;
}

h4{
    font-size: 0.8rem ;
}

h5{
    font-size: 0.77rem ;
}

small{
    font-size: 0.75rem ;
}

.text-muted{
    color: var(--color-info-gray) ;
}

p{
    color: var(--dark-variant) ;
}

b{
    color: var(--color-dark) ;
}


/**************************************/

.container{
    position: absolute;
    max-width: 700px;
    width: 100%;
    background-color: var(--color-white);
    padding: 25px 30px;
    border-radius: var(--radius-2);
    box-shadow: var(--box-shadow);
}

.container .form-header .title{
}

.container form .details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}


/*estilo do input*/
.details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: var(--radius-1);
    padding-left: 15px;
    border: 1px solid var(--color-light);
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.details .input-box label{
    font-size: 1rem ;
    margin-bottom: 5px;
    display: block;
    font-weight: 500;
}

.details .input-box input:focus,
.details .input-box input:valid{
    border-color:var(--color-primary-light);
}

/*input[type="file"] {
    display:none ;
}*/

.details .input-box  .custom-file-upload {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: var(--radius-1);
    padding: 12px 12px;
    border: 1px solid var(--color-light);
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    cursor: pointer;

    margin-top: 20px;
    color: var(--dark-variant) ;

}

form .button{
    height: 45px;
    margin: 20px;
}

form .button button{
    height: 100%;
    width: 100%;
    border-radius: var(--radius-1);
    border: none;
    color: var(--fixed-white);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: linear-gradient(to right, #dc8e46, #e39c50, #e9aa5b, #f0b867, #f6c674);
}

